[user]
	name = Matti Kortelainen
	email = matti.kortelainen@cern.ch
	github = makortel

[core]
        pager = less -FRSXi
        sparsecheckout = true
        excludesfile = ~/dotfiles/.gitignore

[alias]
#        tree = log --graph  --pretty=oneline --abbrev-commit --decorate
        # https://coderwall.com/p/euwpig
        lg = log --pretty=format:'%C(bold red)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --no-merges
        lgmerges = log --pretty=format:'%C(bold red)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --merges
        tree = log --graph --decorate --pretty=format:'%C(bold red)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
        ffmerge = merge --ff-only

[color]
        ui = auto

# Theme originally from from http://nathanhoad.net/how-to-colours-in-git
[color "branch"]
  current = green bold
  remote = yellow
[color "diff"]
  meta = yellow bold
  frag = magenta
  old = red bold
  new = green bold
[color "status"]
  added = green bold
  changed = yellow bold
  untracked = cyan bold

# http://stackoverflow.com/questions/15321472/how-could-i-force-mergetool-gui-kdiff3-to-be-always-shown
[mergetool "kdiff3NoAuto"]
	cmd = kdiff3 --L1 \"$MERGED (Base)\" --L2 \"$MERGED (Local)\" --L3 \"$MERGED (Remote)\" -o \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
[push]
	default = simple
